footer.footer
    .footer__in
        if loggedUser
            if loggedUser.avatarUrl
                img(src=`/${loggedUser.avatarUrl}`, width="200px")
            else
                img(src="../images/user-default.svg", width="200px")
            h2=loggedUser.name
            h3=loggedUser.email

        else
            a(href=routes.login) 로그인
