footer {
    text-align: center;
    color: white;
    height: 350px;
    background-color: #222f3e;
    .footer__in {
        padding-top: 30px;
        width: 10%;
        margin: 0 auto;
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    }
    h2 {
        margin-top: 15px;
        font-size: 40px;
    }
    h3 {
        margin-top: 5px;
        font-size: 18px;
        color: gray;
    }
}