extends layouts/main

block content
    .form__container__board__in
        table
            tr
                td(colspan='4').board__in__title=post.title
            tr
                td.board__in__info 작성자
                td.board__in__info
                    a(href=routes.userDetail(post.creator.id))=post.creator.name
                td.board__in__info 조회수
                td.board__in__info=post.views
            tr
                td.board__in__content(colspan='4')
                    img(src=`/${post.imageFile}`)
                    pre
                        p #{post.content.replace(/<br>/gi, '\n')}