extends layouts/main

block content
    .board__container
        each title in posts
            table
                tr
                    td
                        a(href=`board/${title.id}`)=title.title