extends layouts/main.pug

block content
    .body__container
        .container__in
            .in__newPosts
                .bar__high
                    img(src="../images/bg01.jpg")
                
                .newPosts__title
                    p 새로운 글
                    hr
                    ul.newPosts__list
                        if posts
                            each post in posts
                                li=post.title

                .popPosts_title
                    p 인기글
                    hr
                    ul
                        li 새글2
                        li 새글2
                        li 새글2
                        li 새글2
                        li 새글2
