extends layouts/main

block content
    .form__container
        form(action=`/board${routes.write}`, method="post", enctype="multipart/form-data")
            input(type="text", name="title", placeholder="Title")
            input(type="text", name="content", placeholder="content")
            input(type="file", name="imageFile", placeholder="upload", accept=".png, .jpg, .jpeg, .gif")
            input(type="submit", value="write")