.form__container__board__in {
    width: 100%;
    margin: 10% auto;
    table.boardView__table {
        width: 90%;
        margin: 0 auto;
        tr {
            margin: 0 auto;
            td {
                padding-top: 30px;
                &.board__in__title {
                    padding-left: 50px;
                    font-size: 43px;
                    padding-top : 15px;
                    background-color: #6c5ce7;
                    color: white;
                    border-radius: 15px 15px 0 0;
                    height: 80px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 30vw;
                }
                &.board__in__info {
                    background-color: #a29bfe;
                    color: white;
                    height: 40px;
                    padding-left: 30px;
                    padding-top: 14px;
                }
                &.board__view__edit {
                    padding: 10px;
                    button {
                        float: right;
                        background-color: #40739e;
                        border: none;
                        width: 130px;
                        height: 40px;
                        border-radius: 50px;
                        color: white;
                        cursor: pointer;
                        box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
                        transform: translateY(0);
                        transition: 0.5s;
                        &:hover {
                            transform: translateY(-10px);
                            background-color: #273c75;
                            box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
                        }
                    }
                }
                .board__in__content {
                    margin: 0;
                    width: 100%;
                    border: 1px solid #dcdde1;
                    border-radius: 15px;   
                    background-color: white;            
                    width: 100%;
                    padding: 0;
                    min-height: 700px;
                    height: auto;
                    padding-bottom : 30px;
                    p {
                        margin-top: 30px;
                        padding-left: 20px;
                    }
                    img {
                        padding: 0;
                        max-width: 100%;
                        height: auto;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    .board__comments {
        width: 90%;
        margin: 30px auto;
        background-color: white;
        padding-bottom: 20px;
        border-radius: 15px;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
        .board__comment-number {
            text-align: center;
            margin: 0 auto;
            width: 10%;
        }
        .board__comments-list {
            margin-top: 10px;
            img {
                width: 300px;
                margin-left: 15px;
            }
            li {
                padding: 15px;
                .comment__text__box {
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    width: 85%;
                    margin: 0 12%;
                    min-height: 150px;
                    height: auto;
                    border: 1px solid #dcdde1;
                    background-color: #f5f6fa;
                    color: black;
                    border-radius: 20px;
                    border-bottom-left-radius: 0px;
                    i {
                        float: right;
                        padding-top: 0;
                        padding-right: 15px;
                        color: gray;
                        transition: 0.5s;
                        &:hover {
                            color: black;
                            padding-top: 5px;
                            transform: rotate(45deg);
                        }
                    }
                    .comment__deleted {
                        color: red;
                    }
                    .vertical__line {
                        border-bottom: 1px solid gray;
                        margin: 10px 5px 10px 0;
                    }
                    .comment__title {
                        font-weight: bolder;
                    }
                    .comment__date {
                        padding-left: 15px;
                        font-size: 12px;
                        color: gray;
                    }
                    .comment__content {
                        margin-right: 40px;
                    }
              }
              img {
                  border-radius: 50%;
                  width: 150px;
                  height: 150px;
              }
              &:not(:last-child) {
                margin-bottom: 15px;
              }
            }
          }
          .add__comment {
              width: 90%;
              margin: 50px auto;
              textarea {
                  border-radius: 15px;
                  padding-left: 15px;
                  padding-top: 15px;
                  resize: none;
                  width: 100%;
                  float: right;
                  border: 1px solid #dcdde1;
                  background-color: #f5f6fa;
                  height: 100px;
              }
              input[type='submit'] {
                  width: 100px;
                  height: 30px;
                  background-color: #353b48;
                  color: white;
                  margin-top: 10px;
              }
          }
    }

}