.board__container {
    width: 100%;
    margin: 0 auto;
    .board__in {
        width: 90%;
        margin: 100px auto;
        button {
            margin: 0 auto;
            float: right;
            margin-right: 250px;
            margin-top: 50px;
            width: 120px;
            height: 50px;
            background-color: transparent;
            border: 1px solid #341f97;
            color: #341f97;
            transition: 0.5s;
            &:hover {
                width: 150px;
                background-color: #341f97;
                color: white;
            }
        }
        table {
            width: 70%;
            margin: 0 auto;
            text-align: center;
            font-size: 24px;
            text-overflow: ellipsis;
            overflow: hidden;
            .board-table__header {
                background-color: #341f97;
                color: white;
            }
            tr {
                height: 50px;
                max-height: 50px;
                text-align: center;
                overflow: hidden;
                .board__table__title {
                    width: 600px;
                    max-width: 600px;
                }
                .deleted__post__title {
                    color: red;
                }
                td { 
                    max-width: 100px;
                    text-overflow: ellipsis;
                    white-space: nowrap; 
                    height: 30px;
                    padding-top: 10px;
                    border-bottom: 1px solid black;
                    text-align: center;
                    overflow: hidden;
                }
                .board__title__overflow {
                    text-overflow:ellipsis;
                }
            }
        }
    }

    .paging {
        margin-top: 100px; 
        text-align: center;
        .paging__Number {
            margin-left: 15px;
        }
    }
}

