.board__container {
    width: 100%;
    margin: 0 auto;
    .board__in {
        width: 90%;
        margin: 100px auto;
        button.go__write {
            margin: 0 auto;
            float: right;
            margin-right: 250px;
            margin-top: 50px;
            width: 100px;
            height: 50px;
            background-color: #5f27cd;
            border: 1px solid #5f27cd;
            border-radius: 30px;
            color: white;
            font-size: 14px;
            transform: translateY(0);
            transition: 0.5s;
            &:hover {
                color: white;
                transform: translateY(-15px);
                box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
                background-color: #341f97

            }
        }
        table {
            width: 70%;
            margin: 0 auto;
            text-align: center;
            font-size: 24px;
            text-overflow: ellipsis;
            overflow: hidden;
            .board-table__header {
                background-color: #341f97;
                color: white;
            }
            tr {
                height: 50px;
                max-height: 50px;
                text-align: center;
                overflow: hidden;
                .board__table__title {
                    width: 600px;
                    max-width: 600px;
                }
                .deleted__post__title {
                    color: red;
                }
                td { 
                    max-width: 100px;
                    text-overflow: ellipsis;
                    white-space: nowrap; 
                    height: 30px;
                    padding-top: 10px;
                    border-bottom: 1px solid black;
                    text-align: center;
                    overflow: hidden;
                }
                .board__title__overflow {
                    text-overflow:ellipsis;
                }
            }
        }
    }
    .seaching__post {
        margin-top: 50px;
        margin-left: 45%;
        input[type='text'] {
            border-radius: 10px;
            height: 24px;
            border: 1px solid #dcdde1;
            padding-left: 15px;
        }
        button.seaching__button {
            position: relative;
            left: -30px;
            border: none;
            background-color: transparent;
        }
    }

    .paging {
        margin-top: 100px; 
        text-align: center;
        .paging__Number {
            margin-left: 15px;
        }
    }
}

